*{margin: 0;padding: 0;}
#v1{width: 318px;height: 256px;}
#control{width: 318px;height: 26px;position: relative;background:#e9e9e9;margin-bottom: 15px;}
#control .btn1,#control .btn1stop,#control .btn2,#control .btn3,#control .btn4,#control .btn5{position:absolute;
border: none;outline: none;background: #e9e9e9;}
#control .btn1{width: 32px;height: 21px;left:3px;top:3px;background: url(../img/main_media/video_play.gif) no-repeat;}
#control .btn1stop{width: 32px;height: 21px;left:3px;top:3px;background: url(../img/main_media/video_play2.gif) no-repeat;}
#control .btn2,#control .btn3{width: 36px;height: 18px;font-size: 12px;line-height: 18px;}
#control .btn2{left: 198px;top: 5px;}
#control .btn3{left: 236px;top: 5px;}
#control .btn4{left: 275px;top: 8px;width:14px;height:14px;background: url(../img/main_media/volumn.gif) no-repeat;}
#control .btn5{top: 6px;left: 290px;font-size: 12px;width: 28px;}

#progress{width:155px;height: 10px;background:url(../img/main_media/progress.gif) no-repeat;position: relative;left: 39px;top: 8px;}
#progress_col{width:8px;height:11px;background:url(../img/main_media/progress_col.gif) no-repeat 0 -1px;position:absolute;left: 0;top:0;}

#volumn{display:none;width:6px;height: 100px;background: #666;overflow: hidden;position: relative;left:276px;top:-100px;}
#volumn_col{width:6px;height:8px;background:black;position:absolute;left: 0px;}